/*
 * Mes styles
 */

body {
    display: flex;
    justify-content: space-between;
    background-color: #eef0f1;
}

main {
    width: 55%;
    flex: 0 0 55%;
}

aside {
    width: 20%;
    flex: 0 0 20%;
}

article {
    box-shadow: 0 0 0 1px #eef0f1;
    border: 1px solid;
    margin-bottom: 5px;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
}

h2 {
    font-size: 30px;
}

span {
    color: rgb(8,9,10)
    font-size: 14px;
}