/*
 * Mes styles
 */


nav {
    background-color: black;
    padding: 30px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li {

}

a {
    color: white;
    text-decoration: none;
}