
/*
 Déclarations générales
 */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "CourierPrime"; 
    src: url("fonts/CourierPrime-Regular.ttf") format("truetype"); 
}

html,
body {
    font-family: "CourierPrime";
    min-height: 100%;
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
}
body {
    font-size: 16px;
    background-color: rgb(250, 250, 250);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hr {
    width: 50px;
    float: left;
    margin-bottom: 20px;
}

.cf {
    clear: both;
}

/* 
 Couleurs utilisées : 
 gris du fond principal : #fafafa
 */



/* 
 Des classes que l'on va ajouter à plusieurs balises
 */

.wrapper {
    width: calc(100% - 40px);
    max-width: 935px;
    margin: auto;
}

.is_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nobullets {
    list-style: none;
    margin: 0;
    padding: 0;
}