

/*
 Déclarations dans l'ordre d'apparition des éléments
 */

#top_head {
    background-color: white;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #d3d3d3;
}
    h1 {
        margin: 0;
    }

    .search_input input {
        padding: 7px 30px;
        background-color: #fafafa;
        border: 1px solid rgb(219, 219, 219);
        text-align: center;
        border-radius: 2px;
    }

#brand {
    align-items: flex-start;
    padding: 40px 0;
}
    .brand_logo {
        flex: 0 0 33%;
        width: 33%;
        display: flex;
        justify-content: center;
    }
        .logo {
            border-radius: 50%;
            border: 3px solid red;
            padding: 5px;
        }

    .brand_infos {
        flex: 0 0 66%;
        width: 66%;
    }
        .abonnes_list {
            color: #999;
            font-size: 0.8em;
        }

#grid {
    flex-wrap: wrap;
}

    .grid_item {
        flex: 0 0 32%;
        width: 32%;
        margin-bottom: 2%;
    }





    
footer {
    text-align: center;

}
footer a {
    color: rgb(0, 55, 107);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .9em;
}
.DINPA {
    color: #999;
    font-size: 0.8em;
}