/*
 * Mes styles
 */

h1 {
    font-size: 30px;
    color: #b02f25;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #b02f25;
    font-size: 24px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}

p {
    font-size: 16px;
    color: #333;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}

ul {
    color: #555;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}

li {

}