/*
 * Mes styles
 */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
}

main {
    width: 60%;
    flex: 0 0 60%;
}

aside {
    width: 30%;
    flex: 0 0 30%;
}

h1 {
    color: pink;
    font-size: 30px;
    text-align: right;
}

p {
    font-size: 18px;
}